<header class="header color-white" layout-fill layout="row">
	<div class="cursor-pointer" flex="50" layout="column" layout-align="start center">
		<div class="container-logo" layout="row" ui-sref="home">
			<img class="logo" src="../../assets/images/logo-verde.png" height="30" width="25" alt="">
			<span class="title" layout="column" layout-align="end end">HomeGym</span>
		</div>
	</div>
	<div flex="50" layout="column" layout-align="start center">
		<md-button class="button" ui-sref="login">Inicia sesión</md-button>
	</div>
</header>