<!-- <div class="scanther-menu-commercial" layout="column" layout-align="center center">
  <div class="footer-logo" layout="row" layout-align="center center">
    <img src="../../../../images/img-logo-footer-hd.png" />
  </div>
  <div layout="row" layout-align="center center">
    <a class="menu-item-comercial-bottom" href="javascript:;" ui-sref="mobile-app">Mobile App</a>
    <a class="menu-item-comercial-bottom" href="javascript:;" ui-sref="pricing">Pricing</a>
    <a class="menu-item-comercial-bottom" href="javascript:;" >Support</a>
    <a class="menu-item-comercial-bottom" href="javascript:;" ui-sref="about-us">About Us</a>
    <a class="menu-item-comercial-bottom" href="javascript:;" ui-sref="contact-us">Contact Us</a>
    <a class="menu-item-comercial-bottom" href="javascript:;" ui-sref="blog">Blog</a>
    <a class="menu-item-comercial-bottom" href="javascript:;" ui-sref="login">Log In</a>
  </div>
  <div layout="row" layout-align="center center" class="social-links-footer">
    <a href="https://www.facebook.com/Scanther?fref=ts" target="_blank" 
      class="no-decoration fa fa-facebook fa-2x" 
      analytics-on="click" analytics-event="Facebook" flex></a>
    <a href="https://twitter.com/Scanther" target="_blank" 
      class="no-decoration fa fa-twitter fa-2x" 
      analytics-on="click" analytics-event="Google Twitter" flex></a>
    <a href="https://plus.google.com/s/scanther" target="_blank" 
      class="no-decoration fa fa-google-plus fa-2x" 
      analytics-on="click" analytics-event="Google plus" flex></a>
  </div>
</div>

<div class="copy-right" layout="row" layout-align="center center">
  © Scanther 2014 - All Rights Reserved.
</div> -->