<footer class="footer" layout="row" layout-align="center center">

    <a href="" class="link-footer" layout-padding>Terminos de servicio</a>
    <a href="" class="link-footer" layout-padding> Politicas de Privacidad</a>
    <a href="" class="link-home-gym" layout-padding>Home Gym</a>
    <a href="" class="link-footer" layout-padding>Siguenos</a>

    <div layout="row" layout-align="center center" layout-padding>
      <a href="" class="link-footer-social" flex layout-padding><i class="fa fa-google-plus"></i></a>
      <a href="" class="link-footer-social" flex layout-padding><i class="fa fa-facebook"></i></a>
      <a href="" class="link-footer-social" flex layout-padding><i class="fa fa-twitter"></i></a>
    </div>

  
</footer>