<header class="color-white navbar" layout-fill layout="row">

		<div layout="row" ui-sref="home" flex="20">
			<img class="logo" src="../../assets/images/logo-blanco.png" height="50" width="40" alt="">
			<span class="title" layout="column" layout-align="end end">HomeGym</span>
		</div>

		<md-tabs class="tabs" md-stretch-tabs md-selected="selectedIndex" flex>
	     <md-tab>  <a ui-sref="dashboard" class="color-gray">Mi Estado</a> </md-tab> 
	     <md-tab>  <a ui-sref="routines" class="color-gray">Mis Rutinas</a> </md-tab>
	     <md-tab>  <a ui-sref="diet" class="color-gray">Nutricion</a> </md-tab>  
	  </md-tabs>

	  <div flex="20"></div>

</header>