<section class="sign-up" layout-fill layout="row">

	<section class="image" flex-gt-sm="50" layout="column" layout-align="center center" hide-sm></section>

	<section class="form" flex-gt-sm="50" layout="column" layout-align="center center">

			<md-button class="button-facebook" ui-sref="home">
				<i class="fa fa-facebook"></i>
				REGÍSTRATE CON FACEBOOK
			</md-button>

			<div class="divider color-gray">
				O registrate con tu <span class="color-green">correo electrónico</span>
			</div>

			<form name="signUpForm" role="form" novalidate>
				<md-input-container>
	        <label>Nombre</label>
	        <input name="name" ng-model="user.name" required>
	        <div ng-messages="signUpForm.$submitted || signUpForm.name.$touched"
	        		 ng-show="signUpForm.name.$error && signUpForm.name.$invalid &&  submitted">
	          <div ng-message="required">Este campo es requerido.</div>
	        </div>
	      </md-input-container>

	      <md-input-container>
	        <label>Apellido (s)</label>
	        <input name="lastName" ng-model="user.lastName" required>
	        <div ng-messages="signUpForm.$submitted || signUpForm.lastName.$touched" 
	        		 ng-show="signUpForm.lastName.$error && signUpForm.lastName.$invalid &&  submitted">
	          <div ng-message="required">Este campo es requerido.</div>
	        </div>
	      </md-input-container>

	      <md-input-container>
	        <label>Correo Electrónico</label>
	        <input type="email" name="email" ng-model="user.email" required>
	        <div ng-messages="signUpForm.$submitted || signUpForm.lastName.$touched" 
	        		 ng-show="signUpForm.email.$error && signUpForm.email.$invalid &&  submitted">
	          <div ng-message="required">Este campo es requerido.</div>
	        </div>
	      </md-input-container>

	      <md-input-container>
	        <label>Contraseña</label>
	        <input type="password" name="password" ng-model="user.password" required>
	        <div ng-messages="signUpForm.$submitted || signUpForm.lastName.$touched" 
	        		 ng-show="signUpForm.password.$error && signUpForm.password.$invalid &&  submitted">
	          <div ng-message="required">Este campo es requerido.</div>
	        </div>
	      </md-input-container>

	      <div class="polices color-gray">
	      	Al registrarte estas aceptando los <span class="color-green">Términos y Condiciones, Políticas de Privacidad</span> y los <span class="color-green">Términos de Servicio</span> de HomeGym.
	      </div>

	      <div class="error" ng-if="messageError">{{ messageError }}</div>

	      <md-button class="button-sign-up" ng-click="register()">Unirte</md-button>
			</form>
			
			<hr>
			<div class="color-gray account-now">¿Ya tienes una cuenta? <a class="color-green" ui-sref="login">Inicia Sesión</a></div>

	
	</section>

</section>
<footer-site></footer-site>