<section class="dashboard">

	<header class="user-info">
		<section class="profile-info" layout="row" layout-sm="column">
			<md-list-item class="md-3-line" flex-gt-sm="50" layout-sm="row">
        <img src="../../assets/images/home.png" class="md-avatar profile-picture">
        <div class="md-list-item-text" layout="column">
          <h3 class="name">{{user.name}} {{user.lastName}}</h3>
          <h4 class="edge">23 años</h4>
          <p class="city">Medellín > Colombia</p>
        </div>
      </md-list-item>

      <div class="data" layout="column" flex-gt-sm="20" flex-sm="100">
				<div class="description" flex="20">Peso</div>
				<div class="value" flex>{{user.physicalCondition.weight | number : 2}} KG</div>
			</div>

			<div class="data" layout="column" flex-gt-sm="20" flex-sm="100">
				<div class="description" flex="20">Estatura</div>
				<div class="value" flex>{{user.physicalCondition.height | number : 2}} M</div>
			</div>

			<div class="data" layout="column" flex-gt-sm="20" flex-sm="100">
				<div class="description" flex="20">Masa muscular</div>
				<div class="value" flex>{{user.physicalCondition.imc | number : 2}}</div>
			</div>

		</section>

		<!--<section class="user-sicknesses" layout="row">
			<span class="title">Enfermedades: </span>
			<span class="list-sicknesses" ng-if="user.physicalCondition.illnesses.hipoglicemia">hipoglicemia</span>
			<span class="list-sicknesses" ng-if="user.physicalCondition.illnesses.diabetes">diabetes</span>
			<span class="list-sicknesses" ng-if="user.physicalCondition.illnesses.asma">Asma</span>
			<span class="list-sicknesses" ng-if="user.physicalCondition.illnesses.sinusitis">sinusitis</span>
		</section>
		-->
		<section class="user-sicknesses" layout="row"> 
			<span class="title">Enfermedades: </span>
			<div ng-repeat="(key , illnesses) in user.physicalCondition.illnesses"> 
				<span class="list-sicknesses" ng-show="{{illnesses}}">{{key}}{{$last ? '.' : ($index==user.physicalCondition.illnesses.length-2) ? 'and' : ',&nbsp'}}</span>

			</div>
			<!--
				<div ng-repeat="week in routine.data"> 
					<div ng-repeat="day in week.day"> 
						<span class="list-sicknesses">Día: {{day.name}}<br /> Url: {{day.url}}</span>
					</div>
				</div>
			-->

		</section>
	</header>

	<section class="statistics">
		<section class="calorie-statistics">

			<div layout="row" class="date">
				<div class="title">Calorías quemadas</div>
				<div class="month">
					<i class="fa fa-angle-left previous"></i>
					<span class="name">JUNIO 2015</span>
					<i class="fa fa-angle-right next"></i>
				</div>
			</div>

			<div layout="row" layout-sm="column" class="weeks calorie-progress">
					<div flex  ng-repeat="itemsNumDay in routine.numDays"> 
		
						<div layout="column"  layout-align="center center" flex >
							<div layout="row" layout-align="center center">Semana {{itemsNumDay + 1}}</div>
							<div layout="column" layout-sm="row" layout-align="center center" flex-gt-sm="25">
								<div class="progress" layout="row" layout-align="center center">
									<div class="progress-inside">
										<div round-progress
									    max="100"
									    current="100"
									    color="#909090"
									    radius="80"
									    stroke="2"
									    semi="false"
									    rounded="false"
									    clockwise="true"
									    responsive="false"
									    duration="800"
									    animation="easeInOutQuart">
								    </div>
									</div>
									<div class="progress-outside">
										<div round-progress
									    max="100"
									    current="calcPercentage($index)"
									    color="#94CF1A"
									    bgcolor="#eaeaea"
									    radius="90"
									    stroke="20"
									    semi="false"
									    rounded="false"
									    clockwise="true"
									    responsive="false"
									    duration="800"
									    animation="easeInOutQuart">
										</div>
									</div>
									<div class="progress-info" layout="column" layout-align="center center">
										<div class="total-calories color-green">
											<i class="fa fa-fire"></i>
											<span>160 cal</span>
										</div>
										<div  class="status color-white" ng-if="routine.percentage[$index] == 100">Completo</div>
										<div  class="status color-white" ng-if="routine.percentage[$index] < 100 ">Incompleto</div>
									</div>
								</div>
								<md-button class="button-complete" ng-if="routine.percentage[$index] < 100 ">Completar</md-button>
							</div>
						</div>
				

		
						
					</span>
	
			</div>

		</section>

		<section class="user-statistics">
			<div layout="row" class="title">
				<div >Peso Actual</div>
			</div>

			<form novalidate layout-gt-sm="row" layout-sm="column">
				<md-input-container flex-gt-sm="50">
	        <label>Escribe tu peso actual</label>
	        <input name="weight" ng-model="user.weigth" required>
	        <div ng-show="signUpForm.lastName.$error && submitted">
	          <div ng-message="required">Este campo es requerido.</div>
	        </div>
	      </md-input-container>
	      <div class="upload-weigth" flex-gt-sm="50">
	      	<md-button class="button-upload-weigth color-white">ACTUALIZAR</md-button>
	      </div>
			</form>
		</section>

	</section>

</section>
<footer-site></footer-site>